@import url("@/styles/overrides.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("@/styles/utility.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161219;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-secondary: #21192b;
  --main: #5d2191;
  --main-lite: #8774e1;
  --bg-primary: #161219;
  --stroke: #424242;
  --selected:#371652;
  --icon:#767777;
  --msg-bg:#2C1144;
  --incoming-msg-bg:#242028;

  /* toast overrides */
  /* --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c; */
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  /* height: --webkit-fill-available; */
}

#root {
  height: 100vh;
  height: 100dvh;
  /* height: inherit; */
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  height: 100vh;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* h3 {
  font-size:1.8em;
  line-height: 1.1;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* my global css */
input::placeholder, textarea::placeholder{
      color: var(--icon) !important;
      font-weight: 500;

}