.border_r_stroke {
  border-right: 1px solid var(--stroke);
}
.border_l_stroke {
  border-left: 1px solid var(--stroke);
}
.border_b_stroke {
  border-bottom: 1px solid var(--stroke);
}
.border_t_stroke {
  border-top: 1px solid var(--stroke);
}

.bg_main {
  background-color: var(--main);
}
.color_main {
  color: var(--main);
}
.color_status {
  color: #9637e7;
}

.active .selected_bg_color_on_active {
  background-color: var(--selected);
}

.selected_bg_color {
  background-color: var(--selected);
}

.bg_dark {
  background-color: #0d0d0d;
}

.text_color_icon {
  color: var(--icon);
}

.incoming_msg_bg{
    background-color: var(--incoming-msg-bg);
}
.msg_bg{
    background-color: var(--msg-bg);
}
.bg_primary{
background-color: var(--bg-primary);
}
.color_primary {
  color: var(--bg-primary);
}
.navbar_height{
  height: 80px;
}

.chat_height{
  height: 100%;
}

@media not all and (min-width: 640px) {
  .border_r_stroke {
    border-right:none;
  }
  .chat_height{
    height: calc(100% - 80px);
  }
}

